body .navbar.navbar-fixed-top {
  background:rgba(0,0,0,0.5);
}

body .jumbotron {
  border-radius: 0;
  height: 600px;
  padding-top: 80px;
  margin: 0;
  width: 100%;
  position: relative;
}

body .jumbotron .fus-bg {
  position: fixed;
  background: url("../images/college.jpg") center center no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
}

body .fus-overlay {
  height:600px;
}

.studentLink, .studentLink:hover {
  color:#333;
  text-decoration:none;
}

.edit_delete_buttons {
  margin-top:10px;
}